<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{PackageName}} Description</title>
  <meta name="description" content="{{PackageName}} Description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="container-fluid main-container">
    <div class="fluid-row" id="header">
      <div id="rpkg" class="section level1">
        <h1>{{PackageName}}</h1>
        <p>This is package {owatlr}: Custom Functions for Oliver Wyman Atlanta Office.<br />
          You are using version 0.0.1.</p>
        <div id="installation" class="section level2">
          <h2>Installation</h2>
          <p>The list of dependencies required to install this package is: attachment, devtools, dplyr, fs, fst,
            googledrive, kableExtra, knitr, lubridate, magrittr, openxlsx, purrr, randomNames, readr, readxl, rlang,
            rmarkdown, shinyjs, stats, stringr, testthat, tibble, utils.</p>
          <p>To install the package, you can run the following script</p>
          <pre class="r"><code># install.packages(&quot;remotes&quot;)
        remotes::install_local(path = &quot;owatlr.0.0.1.tar.gz&quot;)</code></pre>
          <p>In case something went wrong, you may want to install dependencies before using:</p>
          <pre class="r"><code># No Remotes ----
        # Attachments ----
        to_install &lt;- c(&quot;attachment&quot;, &quot;devtools&quot;, &quot;dplyr&quot;, &quot;fs&quot;, &quot;fst&quot;, &quot;googledrive&quot;, &quot;kableExtra&quot;, &quot;lubridate&quot;, &quot;magrittr&quot;, &quot;openxlsx&quot;, &quot;purrr&quot;, &quot;randomNames&quot;, &quot;readr&quot;, &quot;readxl&quot;, &quot;rlang&quot;, &quot;shinyjs&quot;, &quot;stringr&quot;, &quot;tibble&quot;)
          for (i in to_install) {
            message(paste(&quot;looking for &quot;, i))
            if (!requireNamespace(i)) {
              message(paste(&quot;     installing&quot;, i))
              install.packages(i)
            }
          }</code></pre>
        </div>
      </div>
    </div>
  </div>
  <script src="" async defer></script>
</body>

</html>











</div>







</div>
